.none, .active{
    color:darkgreen;
}
.light, .independent{
    color:darkgreen;
}
.mild, .dependent{
    color:darkorange;
}
.critical{
    color:darkred;
}
.death, .disabled {
    color:gray;
}

.male {
    color:darkcyan;
}
.female {
    color:darkmagenta;
}

.condition-box-list {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.conditions-box ul, .conditions-box ul li {
    list-style:disc;
    margin-left:1em;
}
ul.conditions, ul.conditions li {
    display: inline;
    margin-left:0;
}
.condition, .status, .gender, .data{
    font-weight:bold;
}


li:not(:nth-child(1)) .comma:before, .comma:not(:nth-child(1)):before {
    color:black;
    content: ",";
    margin-right:4px;
}
.comma.disabled:before {
    color:gray;
}

li.conditions-list, .tight-p {
    line-height: 0.9em;
    margin-bottom:0.4em
}


.log:nth-child(even){

}
.log:nth-child(odd){
    background-color:#f5faf5;
}


ul.activities, ul.activities li {
    list-style:none
}
ul.activities li {
    display:inline-flex;
    margin-left:0px;
}
